<div class="container">
  <div class="parent">
    <div class="div1">
        <ul id="navbar">
            <li><a><%= link_to "Go Back", outfit_path(@outfit) %></li></a>
        </ul>
    </div>

    <div class="div7">
        <h1 class="closet">Pick Your Piece(s)</h1>
        <hr>
    </div>


<div class="div8">
    <%= form_tag "/outfit_clothings" do %>
    <div class="welcome-card">
        <%= hidden_field_tag :outfit_id, @outfit.id %>
        <strong><p><%= label_tag "Choose a Top: " %>
        <%= collection_select("outfit_clothing[]", :clothing_id, @shirts, :id, :name, { include_blank: "--Tops--" }, { :class => "input-xlarge" } ) %></p>
        <strong><p><%= label_tag "Choose a Bottom: " %>
        <%= collection_select("outfit_clothing[]", :clothing_id, @pants, :id, :name, { include_blank: "--Bottoms--" }, { :class => "input-xlarge" } ) %></p>
        <strong><p><%= label_tag "Choose an Accessory: " %>
        <%= collection_select("outfit_clothing[]", :clothing_id, @accessories, :id, :name, { include_blank: "--Accessories--" }, { :class => "input-xlarge" } ) %></p>
        <strong><p><%= label_tag "Choose a Shoe: " %>
        <%= collection_select("outfit_clothing[]", :clothing_id, @shoes, :id, :name, { include_blank: "--Shoes--" }, { :class => "input-xlarge" } ) %></p>
        <%= submit_tag "Add to Outfit" %>
    <% end %>
    </div>
</div>
